.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #335d4f;

  > .logo {
    height: 100px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 16px 0 20px 0;
  }

  > .sidebarBtn {
    text-transform: uppercase;
    border: none;
    border-bottom: 2px solid #120c0c;
    transition: background-color 300ms ease-in-out;
    font-size: large;
    font-weight: bold;
  }
> .sidebarBtn:nth-of-type(1) {
  border-top: 10px solid #120c0c;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 2;
  color: black;
}



a:link, a:visited, a:focus {
  background: #335d4f;
}

a:hover {
  background:  #1ad960;
}

.about {
  position: fixed;
  left: 0; bottom: 0;
  padding: 10px;
  background: #1ad960;
  color: #fff;
  width: 100%;
  text-align: center;
}

}

