.new-releases-ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: large;
  font-weight: bold;
  margin-top: 0;
  padding-top: 30px;

}
.content {
background-color: #335d4f;
}
.loading{
  padding-left: 300px;
  padding-top: 200px;
  background-color: #335d4f;
  font-size: x-large;
  font-weight: bold;
  height: 100vh;
}
li {
  max-width: 300px;
}