.artist {
    display: flex;
    padding-left: 420px;
    padding-top: 120px;

}

.artist-ul {
    list-style: square;
    font-size: large;
    font-weight: bold;
    margin-top: 0;
    line-height: 3.5;
    font-size: 16pt;
    font-weight: bold;
    padding-left: 150px;


}
.content {
    background-color: #335d4f;
    height: 100vh;

}
.artist-li {
    color: #1ad960;
}
span {
    color: #120c0c;
}
.loading{
    padding-left: 500px;
    padding-top: 200px;
    background-color: #335d4f;
    font-size: x-large;
    font-weight: bold;
    height: 100vh;
}