.playlist {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: large;
    font-weight: bold;
    margin-top: 0;
    padding-left: 200px;
    background-color: #335d4f;
}
img {
    height: 300px;
}
.loading{
    padding-left: 500px;
    padding-top: 200px;
    background-color: #335d4f;
    font-size: x-large;
    font-weight: bold;
    height: 100vh;
}